
<h1><%= @cocktail.name %></h1>
<hr>

<div class="row">
  <div class="col-sm-6">
  </div>
  <div class="col-sm-6">
    <h3>Ingredients:</h3>
    <ul>
      <% @cocktail.doses.each do |d| %>
        <li>
          <%= d.ingredient.name %> - <%= d.description %> - <%= link_to "Delete", cocktail_dose_path(@cocktail, d), method: :delete, data: { confirm: 'Delete this ingredient?' } %>
        </li>
      <% end %>

      <%= simple_form_for [@cocktail, @dose] do |i| %>
        <%= i.association :ingredient, collection: @ingredients.order('name ASC') %>
        <%= i.input :description, placeholder: "How much?" %>
        <%= i.submit "Add" %>
      <% end %>

    </ul>
  </div>
</div>
